@import "../omarchy/current/theme/waybar.css";

* {
  color: @foreground;
  border: none;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-weight: 600;
  font-size: 13px;
}

.modules-left>*,
.modules-right>*,
.modules-center>* {
  border-radius: 15px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  padding: 0 5px;
  min-width: 9px;

  margin: 4px 3px;

  background-color: transparent;
  color: transparent;
  border-radius: 6px;

  transition: all 0.19s ease;
}

#workspaces button.active {
  padding-left: 5.5px;
  padding-right: 7.8px;
  background-color: @foreground;
  min-width: 25px;
}



#workspaces button.active * {
  font-size: 16px;
  color: black;
}

#workspaces button * {
  font-size: 15px;
  margin-right: 1.5;
}

#workspaces button.empty {
  opacity: 0.5;
}


#workspaces button:hover * {
  color: black;
}



window#waybar {
  background-color: alpha(@background, 0.9);
  border-radius: 8px;
  border: 1.5px solid alpha(@foreground, .12);
}

#custom-update {
  font-size: 10px;
  margin-right: 2px;
  margin-left: 10px;
}

#pulseaudio {
  color: @foreground;
  margin-right: 17px;
}

#bluetooth,

#custom-screenrecording-indicator,


#tray {
  margin-left: 8px;
  margin-right: 8px;
}

#custom-expand-icon {
  margin-right: 6px;
}

#tooltip {
  padding: 10px;
  border: 1.5px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  background-color: rgba(15, 15, 15, 0.9);
}

#clock {
  margin-left: 8px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  margin-left: 14px;
  margin-right: 5px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}


#custom-pacman-updates {
  color: cornflowerblue;
  margin-right: 11px;
  margin-left: 8px;
}


#battery {
  margin: 0;
  margin-right: 6px;
  color: #a6e3a1;
  background: transparent;
  border-radius: 0;
}

#battery.warning {
  color: #f9e2af;
}

#battery.critical:not(.charging) {
  color: #f38ba8;
}


#battery.plugged {
  color: #a6e3a1;
}


#network {
  color: @foreground;
  margin-right: 15px;
  margin-left: 1px;
}

#custom-cava {
  color: @foreground;
  padding-left: 10px;
}
